
.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100%; 
}


.destination-img {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  height: 180px;  
  width: 100%;  
}


.card-body {
  padding: 20px;
  text-align: center;
  flex-grow: 1; 
}

.card-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  color: #444;
}

.card-text {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.card-text strong {
  color: #333;
  font-weight: bold;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}

/* Responsive */
@media (max-width: 767px) {
  .col-md-3 {
      flex: 0 0 50%;
  }
}

@media (max-width: 575px) {
  .col-md-3 {
      flex: 0 0 100%; 
  }
}
